*
{
    box-sizing: border-box;
}
body
{
    padding: 30px;
    font-family: "Loto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #d8412c;
    background-color: #f7f7f7;
    overflow-y: hidden;
    overflow: scroll;
transition: 3s ease;

}
::-webkit-scrollbar {
    display: none;
}

header
{
    height: 45vh;
    background-image:linear-gradient(to right bottom,rgba(	196, 196, 255,0.4) ,rgba(	196, 196, 255,0.4)) ,url("../images/bookingBackGround.jpg");
    background-size: cover;
    background-position: bottom;
    clip-path: polygon( 0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;
}
.logo img
{
    width: 11%;
    margin: 1%;
    animation: moveright 3s ease-in-out;
}
.hero-slider-content {
    position: absolute;
    /* left: 29%; */
    bottom: 40%;
    transform: translate(60%,20%);
}
.hero-slider-title h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveright 3s ease-in-out;
    

}
.color-overlay {
    background-image: linear-gradient(to right bottom,rgba( 196, 196, 255,0.2) ,rgba( 196, 196, 255,0.2));
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.package-btn a
{
text-decoration: none;
color: #ffffff;
}

.package-btn:hover
{
    transform: translateY(-4px);

}
.package-btn:hover
{
    background-color: #242d3c;
}
#menu-bar {
    float: right;
    width: 7%;
    margin-top: 1%;
}
#humrger-btn {
    background-color: #ffffff;
    width: 65px;
    height: 65px;
    padding: 25px 17px;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 0px 0px 6px;
}
.bar {
    height: 3px;
    width: 90%;
    background-color: black;
    display: block;
    transition: 0.3s ease-in-out;
}
.nav
{
    padding: 0;
    transition: 0.3s ease-in-out;
    display: none;
}
.nav li {
    padding: 18px 0px;
    text-align: center;
    animation:  opacityanimation 2s ease-in-out;

}

.nav li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.main-nav
{
    position: absolute;
    left:45%;
}
.bar1
{
    transform: translateY(-4px);
}
.bar3
{
    transform: translateY(4px);
}
.change
{
    display: block;
}
.menu-bg
{
    width: 0;
    height: 0;
    background: radial-gradient(circle,#d8412c,#ee3116 );
    transition: 0.3s ease-in-out;
}
/* #menu-bar ,#menu-bar
{
top: 0;
left: 0;
position:absoloute;
} */
.change-bg
{
    width:100%;
    height: 100%;
}
.change .bar
{
    height: 4px;
}
.change .bar1 {
    transform: translateY(3px) rotate(-45deg);
}
.change  .bar3
{
    transform: translateY(-6px) rotate(45deg);

}
.change  .bar2
{
    opacity: 0;
}




.booking {
    height: 95vh;
    background-color: rgb(201,233,246);
    padding: 5%;
    margin: 5% 0px;
    margin-top: 15%;
    clear: both;
}
.booking-box {
    border: 1px solid gray;
    width: 100%;
    height: 550px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(to right bottom,rgb(225,225,225,0.2) ,rgb(225,225,225,0.2)) ,url(../images/booking.jpg);
}
.booking-form {
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    bottom: 0px;
    clip-path: polygon(50% 0%, 100% 0, 70% 100%, 0 100%, 0 0);
    background-color:#ffffff;
    opacity: 0.5;
}

.booking-img
{
    width: 50%;
}



input[type=text], input[type=number],input[type=email]{
    margin: 10px;
    display: inline-block;
    width: 31%;
    padding: .2rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
textarea {
    margin: 10px;
    display: inline-block;
    width: 31%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 6.4%;
}
form {
    position: relative;
    top: 20%;
    z-index: +1;
    padding: 0 60px;
}
section h1 {
    text-transform: uppercase;
    padding: 3% 8%;
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    height: 550px;
    letter-spacing: 2px;
    color: rgb(25,113,149);
    z-index: +1;
}
label
{
    font-size: 23px;
}
#name {
    margin-left: 5.6%;
}
#email
{
    margin-left: 1.5%;
}
#message
{
    position: relative;
}
label#message {
    bottom: 34px;
    left: 4px;
}
#noOfPeople{
    margin-left: 1.2%;
}
.form-btn
{
    text-align: center;
    width: 58%;
    margin-top: 2%;
}
#submit
{
    border: none;
    background-color: rgb(25,113,149);;
    padding: 15px;
    color: #fff;
    transition: background-color 1s ease-in;
    width: 200px;

cursor: pointer;    
border-radius: 25px;
}
#submit:hover
{
    background-color: #d8412c;
}
footer
{
    height: 95vh;
    margin-top: 15%;
    background-color: #333333;
    clear: both;
}
.footer-logo img
{
    width: 15%;
    margin: 0 42%;
    padding-top: 2%;
}
.footer-mainnavbar
{
    padding: 30px;
}
.footer-mainnavbar #navbar
{
    border-top: 1px solid gray;
width: 50%;

}
.footer-mainnavbar ul li
{
    transition: 1s ease;
    margin-top: 2%;
    display: inline-block;
    padding: 5px;
}
.footer-mainnavbar ul li a
{
    color: #ffffff;
    text-decoration: none;
}
#navbar li:hover
{
    color: #d8412c;
    transform: rotate(15deg);
}
#navbar li a:hover
{
    color: #d8412c;
}

.contact
{
position: relative;
bottom: 40px;
float:right;


}

.contact 
{
    width: 30%;
    margin-top: 5px;
    border-top: 1px solid gray;
   padding: 10px;
color: #ffffff;

}



#social-media
{
    margin-top: 5%;
    list-style-type: none;
    border-top: none;


}
#social-media ul li 
{
    display: inline-block;
    border: 1px solid #f3f3f3;
    padding: 23px;
    width: 90px;
    border-radius: 50%;
    transition: 0.3s ease;
    font-size: 30px;
}

#social-media ul li ion-icon
{
    font-size: 30px;
    
} 

#social-media ul  :hover
{
    background-color: #d8412c;
    
}
#social-media ul li a  :hover
{
    background-color: #d8412c;

}

#social-media ul li  a
{
    border: none;
    background-color: none;

}



@keyframes moveright
{
    0%
    {
        opacity: 0;
        transform: translateX(-20px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes opacityanimation
{
    0%
    {
        opacity: 0;
        transform: translateX(-20px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);

    }
}
@keyframes movetop
{
    0%
    {
        opacity: 0;
        transform: translateY(20px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}
div.step{
    margin: 40px 0;
    text-align: center;
    margin: 50px 272px;
}
div.step ul{
    margin: 0;
      padding: 0;
      list-style: none;
}
div.step ul li {
    display: inline-block;
    float: left ;
    color: black;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
}
div.step ul li span {
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
    margin: 0px 63px;
}
.StepContant{
    text-align: center;
    clear: both;
}
.input{
    display: inline-block; 
    margin-left: 4%;
}
